## Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rtifacts/
*.dll
*.exe
*.pdb
*.cache

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## OS
Thumbs.db
Desktop.ini
.DS_Store
